.programmable-editor{
    &.md-layout.md-gutter {
        margin-right: 0;
        margin-left: 0;
    }

    margin-top: 20px;
    padding: 20px 20px 10px;
    background: #575757;;
    border-radius: 10px;
}

